
@page "/ticketrequests/create/"
@using TicketManagement.Blazor.UI.Models.TicketTypes
<h3>Apply for Ticket</h3>

<EditForm Model="@TicketRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <InputDate class="form-control" id="startDate" @bind-Value="TicketRequest.StartDate" />
        <ValidationMessage For="@(() => TicketRequest.StartDate)" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <InputDate class="form-control" id="endDate" @bind-Value="TicketRequest.EndDate" />
        <ValidationMessage For="@(() => TicketRequest.EndDate)" />
    </div>
    <div class="form-group">
        <label for="ticketType">ticket Type</label>
        <InputSelect class="form-control" id="ticketType" @bind-Value="TicketRequest.TicketTypeId">
            <option>Select ticket Type</option>
            @foreach (var ticketType in ticketTypesVMs)
            {
                <option value="@ticketType.Id">@ticketType.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => TicketRequest.TicketTypeId)" />
    </div>
    <div class="form-group">
        <label for="comments">Comments</label>
        <InputTextArea class="form-control" id="comments" @bind-Value="TicketRequest.RequestComments" MaxLength="300" />
        <ValidationMessage For="@(() => TicketRequest.RequestComments)" />
    </div>

    <button class="btn btn-success" type="submit">Submit Request</button>
</EditForm>
